@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
  font-family: 'Montserrat', sans-serif;
  
}
.ignore-global-margins{
  margin-left:calc(15/70 * -100%); 
  margin-right:calc(15/70 * -100%);
  }
  .ignore-r-global-margin{
    margin-right:calc(15/70 * -100%);
  }
  .ignore-l-global-margin{
    margin-left:calc(15/70 * -100%);
  }


