@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
  font-family: 'Montserrat', sans-serif;
  
}
.text-base-responsive{
  font-size: calc(2px + 1.10625vw);
}
.text-xl-responsive{
  font-size: calc(3px + 1.40625vw);
}
.global-margins{
  margin-left: 15%;
  margin-right: 15%;
}
.ignore-global-margins{
  margin-left:calc(15/70 * -100%); 
  margin-right:calc(15/70 * -100%);
  }
  .ignore-r-global-margin{
    margin-right:calc(15/70 * -100%);
  }
  .ignore-l-global-margin{
    margin-left:calc(15/70 * -100%);
  }


